*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(tourguide.jpg)no-repeat;
    background-size:1500px 600px;
    
    
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}
.Emri{
    font-size: 2em;
    color: rgb(0, 0, 0);
    user-select: none;

}
.Navigator a{
    position: relative;
    font-size: 1.1em;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.Navigator a::after{
content: "";
position: absolute;
left: 0;
bottom: -6px;
width: 100%;
height: 3px;
background: rgb(0, 0, 0);
border-radius: 5px;
transform: scaleX(0);
transition: transform .5s;

}
.Navigator a:hover::after{
    transform: scaleX(1);
}


.Navigator .btLogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-weight: 550;
    margin-left: 40px;
    transition: 0.5s;
}

.Navigator .btLogin:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.boxi{
    position: relative;
    width: 440px;
    height: 350px;
    background: transparent;
    border: 2px solid gray;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease , height .2s ease;
}

.boxi.active-popup {
    transform: scale(1);
}

.boxi.active{
    height: 480px;
}

.boxi .boxi1{
    width: 100%;
    padding: 40px;

}

.boxi .boxi1.login{
   transition: transform .18s ease;
   transform: translateX(0);

}

.boxi.active .boxi1.login{
    transition: none;
    transform: translateX(-400px);
}

.boxi .boxi2.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);

}
.boxi.active .boxi2.register{
    transition: transform .18s ease;
   transform: translateX(0);
}

.boxi .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: rgb(255, 0, 0);
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.boxi1 h2{
    font-size: 1.9em;
    color:honeydew;
    text-align: center;
}
.boxi2 h2{
    font-size: 1.9em;
    color: honeydew;
    text-align: center;
}

.inputi{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.inputi label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}
.inputi input:focus~label,
.inputi input:valid~label{
    top: -5px;
}


.inputi input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 550;
    padding: 0 35px 0 5px;
    
}
.remember-forgot{
    font-size: 0.91em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: blue;
    margin-right: 3px;

}

.remember-forgot a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.butoni{
    width: 100%;
    
    height: 35px;
    border-radius: 8px;
    background: rgb(255, 0, 25);
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 550;
    cursor: pointer;
}

.login-register{
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;

}
.login-register p a:hover{
    text-decoration: underline;
}